<!DOCTYPE html>
<html lang="en">
  <head>
	<link rel="stylesheet" href="{{ 'static/css/decystyle.css' | url }}" media="screen" />
    <meta charset="utf-8" />
    <title>Decypress - {{ pageTitle }}</title>
  </head>
	<body>
		{{content|safe}}
	</body>
</html>